*{
    background: #1C1C1C;
}
header{
    position: absolute;
    width: 1440px;
    height: 800px;
    left: 0px;
    top: 0px;
}
@font-face {
    font-family: 'Poppins Regular';
    src: url('Poppins-Regular.eot');
    src: url('Poppins-Regular.eot?#iefix') format('embedded-opentype'),
    url('Poppins-Regular.woff') format('woff'),
    url('Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.logo_name{
    
    width: 121px;
    height: 33px;
    margin-left: 165px;
    margin-top: 33px;
    margin-right: 1150px;
    margin-bottom: 767px;
    font-family: 'Poppins Regular';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    display: flex;
    align-items: center;
    color: #F1F1F1;
}
.home{
    width: 49px;
    height: 24px;
    position: absolute;
    top: 38px;
    left: 935px;
    font-family: 'Poppins Regular';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #F1F1F1;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.about{
    position: absolute;
    top: 38px;
    left: 1024px;
    width: 49px;
    height: 24px;
    font-family: 'Poppins Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #EEBF63;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.project{
    width: 56px;
    height: 24px;
    position: absolute;
    top: 38px;
    left: 1113px;
    font-family: 'Poppins Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #F1F1F1;
    flex: none;
    order: 2;
    flex-grow: 0;
}
.contact{
    width: 66px;
    height: 24px;
    position: absolute;
    left: 1209px;
    top: 38px;
    font-family: 'Poppins Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #F1F1F1;
    flex: none;
    order: 3;
    flex-grow: 0;
}
.header_img{
    position: absolute;
    width: 380px;
    height: 458px;
    left: 165px;
    top: 171px;
    
    background: url(2.jpg);
    border-radius: 30px;
}
.arine_ray{
    position: absolute;
    width: 274px;
    height: 72px;
    left: 639px;
    top: 171px;
    
    font-family: 'Poppins Regular';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;

    color: #F1F1F1;
}
.her_job{
    position: absolute;
    width: 165px;
    height: 27px;
    left: 638px;
    top: 243px;
    
    font-family: 'Poppins Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #F1F1F1;
}
.header_txt{
    position: absolute;
    width: 636px;
    height: 60px;
    left: 639px;
    top: 285px;
    
    font-family: 'Poppins Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #F1F1F1;
}
.email_me{
    position: absolute;
    width: 84px;
    height: 27px;
    left: 638px;
    top: 365px;
    
    font-family: 'Poppins Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #F1F1F1;
}
.her_email{
    position: absolute;
    width: 211px;
    height: 27px;
    left: 638px;
    top: 392px;
    
    font-family: 'Poppins Regular';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #F1F1F1;
}
.signature{
    position: absolute;
    width: 160px;
    height: 58px;
    left: 640px;
    top: 445px;
}
.source{
    position: absolute;
    width: 116px;
    height: 27px;
    left: 640px;
    top: 527px;
    
    font-family: 'Poppins Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: #F1F1F1;
}
.line_top{
    position: absolute;
    width: 1110px;
    height: 0px;
    left: 165px;
    top: 729px;
    
    /* #2F2F2F */
    
    border: 3px solid #2F2F2F;
}
.article{
    position: absolute;
    width: 1110px;
    height: 1863px;
    left: 165px;
    top: 850px;
}
.txt1{
    position: absolute;
    width: 1110px;
    height: 225px;
    left: 0px;
    top: 0px;
    
    font-family: 'Poppins Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 45px;
    color: #F1F1F1;
}
.img2{
    position: absolute;
    width: 1110px;
    height: 411.48px;
    left: 0px;
    top: 268px;
    border-radius: 25px;
}
.txt2{
    position: absolute;
    width: 1110px;
    height: 315px;
    left: 0px;
    top: 750px;
    
    font-family: 'Poppins Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 45px;
    color: #F1F1F1
}
.img3{
    position: absolute;
    width: 1110px;
    height: 619.23px;
    left: 0px;
    top: 1050px;
    
    background: url(.jpg);
    border-radius: 25px;
}
.line_bottom{
    position: absolute;
    width: 1110px;
    height: 0px;
    left: 0px;
    top: 1750px;
    border: 3px solid #2F2F2F
}
.team{
    position: absolute;
    width: 1440px;
    height: 600px;
    left: 3px;
    top: 2660px;
}
.our_team{
    position: absolute;
    width: 241px;
    height: 62px;
    left: 600px;
    top: 50px;
    
    font-family: 'Poppins Regular';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 62px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #F1F1F1;
}
.img4{
    position: absolute;
    width: 245px;
    height: 245px;
    left: 213px;
    top: 162px;
}
.img5{
    position: absolute;
    width: 245px;
    height: 245px;
    left: 598px;
    top: 162px;
}
.img6{
    position: absolute;
    width: 245px;
    height: 245px;
    left: 983px;
    top: 162px;
}
.img4 span{
    position: absolute;
    width: 236px;
    height: 46px;
    left: 5px;
    top: 239.7px;
    
    font-family: 'Poppins Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 46px;
    /* identical to box height, or 128% */
    
    display: flex;
    align-items: center;
    text-align: center;
    
    /* #F1F1F1 */
    
    color: #F1F1F1;
}
.name{
    position: absolute;
    width: 236px;
    height: 46px;
    left: 30px;
    top: 250px;
    
    font-family: 'Poppins Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 46px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #F1F1F1;
}
.job{
    position: absolute;
    width: 240px;
    height: 72px;
    left: 5px;
    top: 292px;
    font-family: 'Poppins Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #E1E1E1;
}
.last_content{
    position: absolute;
    width: 1015px;
    height: 577px;
    left: 213px;
    top: 3239px;
}
.incontent{
    position: absolute;
    width: 1440px;
    height: 670px;
    left: 0px;
    top: 47px;
    background: #486074;
}
.mask{
    position: absolute;
    width: 445px;
    height: 567px;
    left: 213px;
    top: 54px;
    border-radius: 30px;
}
.to_hear_you{
    position: absolute;
    width: 445px;
    height: 124px;
    left: 783px;
    top: 47px;
    background: #486074;
    text-transform: capitalize;
    font-family: 'Poppins Regular';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 62px;
    color: #F1F1F1;
}
.enter_name{
    position: absolute;
    height: 30px;
    width: 350px;
    left:783px;
    top:254px;
    padding: 20px;
    font-family: 'Poppins Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #E1E1E1;
    background: #2F2F2F;
    border-radius: 10px;
    mix-blend-mode: normal;
}
.enter_email{
    position: absolute;
    height: 30px;
    width: 350px;
    left:783px;
    top:344px;
    padding: 20px;
    font-family: 'Poppins Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #E1E1E1;
    background: #2F2F2F;
    border-radius: 10px;
    mix-blend-mode: normal;
}
.enter_message{
    position: absolute;
    height: 60px;
    width: 350px;
    left:783px;
    top:434px;
    padding: 30px;
    font-family: 'Poppins Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #E1E1E1;
    background: #2F2F2F;
    border-radius: 10px;
    mix-blend-mode: normal;
}
.enter_button{
    position: absolute;
    height: 30px;
    width: 180px;
    left:993px;
    top:584px;
    padding: 10px;
    text-align: center;
    font-family: 'Poppins Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #E1E1E1;
    background: #CD921E;
    border-radius: 10px;
    mix-blend-mode: normal;
}
footer{
    position: absolute;
    width: 1440px;
    height: 163.9px;
    left: 4px;
    top: 3950px;
}
.lets_connect{
    position: absolute;
    width: 242px;
    height: 46px;
    left: 166px;
    top: 59px;
    
    font-family: 'Poppins Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 46px;
    display: flex;
    align-items: center;
    color: #F1F1F1;
}
.insta1{
    position: absolute;
    left: 660px;
    top: 73px;
}
.youtube1{
    position: absolute;
    left: 710px;
    top: 77px;
}
.internet1{
    position: absolute;
    left: 767px;
    top: 73px;
}
.to_top{
    position: absolute;
    width: 141px;
    height: 36px;
    left: 1102px;
    top: 64px;
    font-family: 'Poppins Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #F1F1F1;
}
.short_up{
    position: absolute;
    top: 70px;
    left:1252px;
}
